{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Portfólio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
</head>
<body>
    <div class="layout">
        <aside class="sidebar">
            <div class="brand">
                <h2>Meu Portfólio</h2>
                <p>Engenharia Informática</p>
            </div>

            <nav class="menu">
                <a href="{% url 'artigos:lista_artigos' %}">Artigos</a>
                <a href="{% url 'sobre_aplicacao' %}#tecnologias-aplicacao">Tecnologias da Aplicação</a>
                <a href="{% url 'sobre_aplicacao' %}#estrutura-paginas">Estrutura das Páginas</a>

                <a href="{% url 'api_restful' %}">API Restful D&D</a>

                <a href="{% url 'sobre_aplicacao' %}#github">GitHub</a>
                <a href="{% url 'sobre_aplicacao' %}#making-of-aplicacao">Making-Of</a>
                <a href="{% url 'sobre_aplicacao' %}#modelacao">Modelação</a>

                <a href="{% url 'home' %}#licenciaturas">Licenciaturas</a>
                <a href="{% url 'home' %}#ucs">Unidades Curriculares</a>
                <a href="{% url 'home' %}#tecnologias">Tecnologias</a>
                <a href="{% url 'home' %}#competencias">Competências</a>
                <a href="{% url 'home' %}#formacoes">Formações</a>
                <a href="{% url 'home' %}#areas">Áreas de Interesse</a>
                <a href="{% url 'home' %}#tfcs">TFCs</a>
                <a href="{% url 'home' %}#projetos">Projetos</a>
                <a href="{% url 'home' %}#makingof">Making Of</a>
                <a href="{% url 'home' %}#midias">Mídia</a>
                <a href="{% url 'home' %}#docentes">Docentes</a>
            </nav>
        </aside>

        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>