{% extends "portfolio/base.html" %}

{% block content %}

<section class="container mt-5">
    <div class="card bg-dark text-light border-secondary shadow p-4">

        <h1 class="mb-4">Apagar Projeto</h1>

        <p>
            Tem a certeza que quer apagar
            "<strong>{{ projeto.titulo }}</strong>"?
        </p>

        <form method="post">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">
                Sim, apagar
            </button>

            <a href="{% url 'lista_projetos' %}"
               class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>
</section>

{% endblock %}